.bingoCard {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;
}

.bingoCell {
  padding: 8px;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--border);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.isPositive {
  background-color: var(--correct);
  border: 2px solid var(--correct);
}

.isMissed {
  background-color: var(--missed);
  border: 2px solid var(--missed);
}

.bingoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.missedValuesContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
}
